<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<form action="/add" method="post">
    <input type="text" name="name" placeholder="New task">
    <input type="submit" value="Add">
</form>
<ul>
    <li th:each="task : ${tasks}">
        <form action="/toggle" method="post">
            <input type="hidden" th:value="${task.id}" name="id">
            <input type="checkbox" th:checked="${task.completed}">
            <span th:text="${task.name}"></span>
            <input type="submit" value="Toggle">
        </form>
    </li>
</ul>
</body>
</html>